.btn_unstake {
  background-color: white;
  border-radius: 10px;
  padding: 1em;
  text-align: justify;
  font-weight: 500;
  display: grid;
  align-items: center;
  height: 100%;
  width: 100%;
}
.btn_unstake:hover {
  border: 3px solid #9ccb3c !important;
  background-color: #9ccb3c33 !important;
  color: black !important;
}
.text_input::placeholder {
  color: rgb(235, 19, 19) !important;
  font-weight: 900;
}
