.logo_col {
  color: #b55d51f8;
}
.logo {
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
}
.nav {
  display: flex;
  gap: 30px;
  line-height: 3;
  font-size: 16px;
  justify-content: center;
}
.nav_link {
  color: black !important;
  padding: 0 8px;
  border-radius: 10px;
}
.nav_link:hover {
  background-color: #cae696;
  padding: 7px 8px;
}
.nav_active {
  background-color: #9ccc3c;
  color: white !important;
  padding: 7px 8px;
}
.h_btn {
  padding: 4px 0;
  display: flex;
  gap: 20px;
}
.h_btn1 {
  border-radius: 8px;
  background: var(--Gray--4, #ebebeb) !important;
  box-shadow: 0px 0px 0px 0px rgba(23, 23, 23, 0.04),
    0px 2px 4px 0px rgba(23, 23, 23, 0.04),
    0px 7px 7px 0px rgba(23, 23, 23, 0.03),
    0px 15px 9px 0px rgba(23, 23, 23, 0.02),
    0px 27px 11px 0px rgba(23, 23, 23, 0.01),
    0px 42px 12px 0px rgba(23, 23, 23, 0);
  width: 112px;
  height: 44px;
}
.h_btn1:hover {
  border: #152c5b !important;
  color: #152c5b !important;
}
.h_btn2 {
  border-radius: 8px;
  background: var(--Primary, #9ccc3c) !important;
  box-shadow: 0px 0px 0px 0px rgba(23, 23, 23, 0.04),
    0px 2px 4px 0px rgba(23, 23, 23, 0.04),
    0px 7px 7px 0px rgba(23, 23, 23, 0.03),
    0px 15px 9px 0px rgba(23, 23, 23, 0.02),
    0px 27px 11px 0px rgba(23, 23, 23, 0.01),
    0px 42px 12px 0px rgba(23, 23, 23, 0);
  color: white;
  font-weight: 500;
  width: 130px;
  height: 44px;
}
.h_btn2:hover {
  border: #cae696 !important;
  background: var(--Primary, #cae696) !important;
  color: white !important;
}
@media only screen and (min-width: 100px) and (max-width: 991px) {
  .nav {
    display: none;
  }
  .h_btn {
    display: none;
  }
}
@media only screen and (min-width: 991px) {
  .h_drawer {
    display: none !important;
  }
}
.h_drawer {
  display: flex;
  justify-content: flex-end;
  font-size: 32px;
  color: #4f4f4f;
}
.nav_d {
  display: grid;
  line-height: 3;
  font-size: 16px;
}
.nav_link_d {
  transition: 0.5s;
  font-weight: 500;
}
.nav_link_d:hover {
  background-color: #b55d51f7;
  color: white !important;
  padding: 0px 8px;
  transition: 0.5s;
}

.container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
