body {
  /* background: radial-gradient(
      farthest-corner at 10% 10%,
      #cae696 5%,
      #f4f4f4 30%,
      #f4f4f400 30%
    ),
    radial-gradient(
      farthest-corner at 90% 70%,
      #c9e29b 5%,
      #f2f9ea 30%,
      #f4f4f400 30%
    ),
    #f4f4f4; */
  background-attachment: fixed;
  background-color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
